<?xml version="1.0"?>
<odoo>
    <record id="action_list_courses" model="ir.actions.act_window">
        <field name="name">Courses"</field>
        <field name="res_model">openacademy.course</field>
        <field name="view_mode">tree,form</field>
        <field name="context">{'search_default_my_courses': True}</field>
    </record>

    <record id="action_list_sessions" model="ir.actions.act_window">
        <field name="name">Sessions</field>
        <field name="res_model">openacademy.session</field>
        <field name="view_mode">tree,form,calendar,graph,kanban</field>
    </record>


    <menuitem id="menu_root" name="Open Academy" />
    <menuitem id="menu_courses" parent="menu_root"
              name="Courses"
              sequence="10"
              action="action_list_courses" />
    <menuitem id="menu_sessions" parent="menu_root"
              name="Sessions"
              sequence="15"
              action="action_list_sessions" />
</odoo>